body{
    font-family: 'Exo 2', sans-serif;
    background-image: url(Media/clouds.jpg);
    background-repeat:round;
}

nav{
    width: 105%;
    height: 50px;
    background-color: blue;
    margin: -11px 0 10px -0.7%;
    position: fixed;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

nav>div>p{
    padding-bottom: 5%;
    font-size: 20px;
    color: black;
    top: 0%;
}

nav>div>a>img{
    width: 64px;
    height: 43px;
}

.WikiNote>div>a>img{
    width: 330px;
    height: 200px;
}

.WikiNote>div>p{
    margin: 1% ;
    color: black;
    
}

.WikiNote{
    font-size: 18px;
    background-color: aquamarine;
    margin: 5%;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.Sticky-Name>p{
    width: fit-content;
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 1.5%;
    left: 40%;
}

.WikiNote>div>a>img:hover{
    animation-name: Zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes Zoom {
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(95%);
    }
}

