body{
    background-color:rgb(100, 133, 36);
    background-image: url(Media/multicam.jpg);
    font-family: 'Play', sans-serif;
}

nav{
    margin: 50px 15% auto 15%;
    padding: 20px;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: Row;
    align-items: center;
}

.FirstColumn{
    margin-left: 2.5%;
    margin-right: 0.25%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: Column;
    align-items: center;

}

.SecondColumn{
    margin-right: 2.5%;
    margin-left: 0.25%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: Column;
    align-items: center;
}

a>img{
    width: 640px; 
    height: 360px;
    margin: 20px;
    filter: grayscale(0.8);
}
.Button-Img{
    position: relative;
}

a>img:hover{
    animation-name: Zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    filter: grayscale(0);
}

@keyframes Zoom {
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(105%);
    }
}

.TextOnImg{
    color: rgb(235, 87, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    pointer-events: none;
    position:absolute;
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    font-size: 20pt;
    opacity:0 ;
}

.Button-Img:hover .TextOnImg{
    animation-name: appearText;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}


@keyframes appearText {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }

}

@media screen and (max-width: 1400px) {
    nav {
        display: flex;
        flex-direction: Column;
    }
    .FirstColumn{
        margin: 2.5%;
    }
    .SecondColumn{
        margin: 2.5%;
    }
}

.DescriptionText{
    margin: 0%;
    font-size: 20pt;
    color: rgb(0, 255, 255);
}
