body{
    background-color:rgb(100, 133, 36);
    background-image: url(Media/multicam.jpg);
    font-family: 'Permanent Marker', cursive;
}

nav{
    margin: 50px 15% auto 15%;
    padding: 20px;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: Row;
    align-items: center;
}

.FirstCollumn{
    margin-left: 2.5%;
    margin-right: 0.25%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.SecondCollumn{
    margin-right: 2.5%;
    margin-left: 0.25%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
}

a>img{
    width: 640px; 
    height: 360px;
    margin: 20px;
}

a>img:hover{
    animation-name: Zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes Zoom {
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(105%);
    }
}

.Description {
    color: rgb(0 0 0);
    background-color: rgba(0, 0, 0, 0.300);
    display: block;
    border: 50px;
    border: solid black;
    border-radius: 15%;
    margin: 5% 20% auto 20%;                /**//*                 fefefefefefefefe     *//**//**/
    padding: 2%;
/*    background-image: url(Media/emblem.png);*/
    background-size: 100%;
    background-repeat:round;
    background-position: 50%;
    background-image: url(media/snowCamo.jpg);
}

.TextOnAviation{
    color: rgb(0, 255, 255);
    text-align: center;
    pointer-events: none;
    position: absolute;
    top: 25%;
    left: 30%;
    font-size: 30pt;
    opacity:0 ;
    background-size: 1000%;
    background-color: black;
}

.Aviation:hover .TextOnAviation{
    animation-name: appearText;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes appearText {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
        background-color: rgba(155, 155, 155, 0.658);
        background-size: 500%;
    }

}
