body{
    background-color:rgb(100, 133, 36);
    background-image: url(Media/multicam.jpg);
    font-family: 'Play', sans-serif;
}

nav{
    margin: 50px 15% auto 15%;
    padding: 20px;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: Row;
    align-items: center;
}

.FirstCollumn{
    margin-left: 2.5%;
    margin-right: 0.25%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.SecondCollumn{
    margin-right: 2.5%;
    margin-left: 0.25%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
}

a>img{
    width: 640px; 
    height: 360px;
    margin: 20px;
    filter: grayscale(1);
}
.Aviation{
    position: relative;
}
a>img:hover{
    animation-name: Zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    filter: grayscale(0);
}

@keyframes Zoom {
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(105%);
    }
}

.Description {
    color: rgb(0 0 0);
    background-color: rgba(0, 0, 0, 0.300);
    display: block;
    border: 50px;
    border: solid black;
    border-radius: 15%;
    margin: 5% 20% auto 20%;               
    padding: 2%;
    background-size:40%;
    background-repeat:repeat;   
    background-position: 50%;
    background-image: url(media/snowCamo.jpg);
}

.TextOnAviation{
    color: rgb(0, 255, 255);
    text-align: center;
    pointer-events: none;
    position:absolute;
    top: 30%;
    left: 0%;
    font-size: 30pt;
    opacity:0 ;
}

.Aviation:hover .TextOnAviation{
    animation-name: appearText;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

}

@keyframes appearText {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }

}

@media screen and (max-width: 1400px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    .FirstCollumn{
        margin: 2.5%;
    }
    .SecondCollumn{
        margin: 2.5%;
    }
}

nav>div>div>div>p{
    font-size: 20pt;
    margin: 15px 15px 0 15px;
}
